<!-- hero background -->
<div class="hero-footer column-screen">
  <!-- carousel top -->
  <div class="carousel-top fixed-top">check out my other projects<i class="fa-solid fa-arrow-turn-down"></i></div>

  <!-- carousel top -->
  <div class="carousel-bottom">
    <!-- carousel -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <!-- indicators/dots -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- the slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://www.pymc-labs.io/"> <img src="assets/images/pymc-labs.png" class="d-block w-100" alt="PYMC Labs" /></a>
        </div>
        <div class="carousel-item">
          <a href="https://www.intuitivebayes.com/">
            <img src="assets/images/intuitive-bayes.png" class="d-block w-100" alt="Intuitive Bayes"
          /></a>
        </div>
        <div class="carousel-item">
          <a href="https://www.pymc.io/welcome.html"> <img src="assets/images/pymc.png" class="d-block w-100" alt="PYMC" /></a>
        </div>
      </div>

      <!-- left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<style>
  .page-columns {
    grid-template-columns: 
      [screen-start] 5em 
      [screen-start-inset page-start page-start-inset body-start-outset body-start body-content-start] minmax(10px, 20fr) 
      [body-content-end body-end body-end-outset page-end-inset page-end screen-end-inset] 5em 
      [screen-end] !important;
  }
  
</style>
